.container_navbar {
    position: fixed;
    width: 100%;
    height: var(--container-navbar-height);
    top: 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: var(--navbar-width);
    height: var(--navbar-height);
    background-color: var(--navbar-color);
    border: 1px solid var(--navbar-border-color);
    border-radius: var(--navbar-border-radius);
    box-shadow: var(--navbar-box-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon a {
    padding: var(--icon-padding);
    cursor: pointer;
    transition: transform 300ms ease;
}

.icon:hover {
    transform: scale(1.1);
}

.container_navbar h2 {
    position: fixed;
    left: 0;
    font-family: var(--font-family);
    font-size: var(--container-navbar-title2);
    padding: var(--container-navbar-text-padding);
}