body {
    background-color: var(--body-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: fixed;
    width: var(--nav-width);
    height: var(--nav-height);
    top: 0;

    background-color: var(--nav-color);
    overflow: hidden;

    display: flex;
    align-items: center;
}

.brand {
    width: var(--brand-width);
    height: var(--brand-height);

    padding-left: var(--brand-left-padding);

    display: flex;
    align-items: center;
}

.brand h1 {
    font-size: var(--brand-h1-size);
}

.buttons {
    width: var(--buttons_width);
    height: var(--buttons-height);

    padding-right: var(--buttons-padding);
    column-gap: var(--buttons-gap);

    display: flex;
    align-items: center;
    justify-content: end;
}

.buttons a {
    color: var(--buttons-color);
    font-weight: var(--font-weight-600);
    border-radius: var(--radius-8);
    padding: var(--buttons-a-padding);
    cursor: var(--cursor-pointer);

    transition: transform 300ms ease;
}

.buttons a:hover {
    transform: var(--buttons-a-scale);
    transition: transform 300ms ease;
}

.box_signUp {
    width: var(--boxi-width);
    height: var(--boxi-height);

    background-color: var(--boxi-color);
    padding: var(--boxi-padding);
    border: var(--boxi-border);
    border-radius: var(--radius-8);
    box-shadow: var(--boxi-box-shadow);
    overflow: hidden;
}

.box_signUp h2 {
    font-size: var(--boxi-h2);
    font-weight: var(--font-weight-900);
    text-align: var(--text-align-center);
}

.box_signUp .ligne {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_signUp .ligne hr {
    width: var(--boxi-hr-width);
    margin: var(--boxi-hr-margin);
}

.box_signUp form {
    width: var(--form-width);
    height: var(--form-height);

    display: flex;
    flex-direction: column;
    align-items: center;
}

form .box_inputs {
    width: var(--box_inputs-width);
    height: var(--box_inputs-height);

    gap: var(--box_inputs-gap);

    display: flex;
    flex-direction: column;
    align-items: center;
}

form .box_inputs input {
    width: var(--box_inputs-input-width);
    height: var(--box_inputs-input-height);

    text-align: var(--text-align-center);
    color: var(--box_inputs-input-color2);
    background-color: var(--box_inputs-input-color);
    border: var(--box_inputs-input-border);
    border-radius: var(--radius-8);
    cursor: var(--cursor-text);
}

form .box_inputs input::placeholder {
    text-align: var(--text-align-center);
}

form .box_inputs input:focus {
    outline: none;
}

form .connect {
    width: var(--passwAcc-margin);
    height: var(--passwAcc-height);

    margin: var(--passwAcc-margin);
}

form .connect a:hover {
    color: var(--signUp-passwAcc-a-color);
    cursor: var(--cursor-pointer);
}

form .submit-register {
    width: var(--submit-login-width);
    height: var(--submit-login-height);

    background-color: var(--submit-color);
    font-size: var(--submit-size);
    font-weight: var(--font-weight-500);
    border: var(--submit-border);
    border-radius: var(--radius-8);
    cursor: var(--cursor-pointer);
}

form .submit-register:hover {
    background-color: var(--sumbit_hover-color2);
    color: var(--sumbit_hover-color);
}

@media screen and (min-width: 568px) {
    .brand h1 {
        font-size: calc(var(--brand-h1-size) * 1.3);
    }

    .buttons a {
        font-size: 1.5rem;
    }

    .box_signUp .ligne hr {
        margin: 5%;
    }

    form .box_inputs input  {
        width: calc(var(--box_inputs-input-width) - 10%);
    }
}

@media screen and (min-width: 768px) {
    form .box_inputs input {
        width: calc(var(--box_inputs-input-width) - 20%);
    }

    form .connect {
        margin: 3%;
    }

    form .submit-register {
        width: calc(var(--submit-login-width) - 20%);
    }
}

@media screen and (min-width: 1200px) {
    .box_signUp {
        width: calc(var(--boxi-width) - 35%);
        padding: calc(var(--boxi-padding) - 5%);
    }

    .box_signUp .ligne hr {
        width: calc(var(--boxi-hr-width) - 20%);
        margin: 2%;
    }

    form .box_inputs {
        height: calc(var(--box_inputs-height) + 10%);
    }

    form .box_inputs input {
        width: calc(var(--box_inputs-input-width) - 40%);
    }

    form .connect {
        margin: 1%;
    }

    form .submit-register {
        width: calc(var(--submit-login-width) - 35%);
        height: calc(var(--submit-login-height) * 1.3);
    }
}
