/* =================== */
/* General Variables */
/* =================== */
:root {
    /* Colors */
    --blue: #3d91f4;
    --black: #000;
    --white: #fff;
    --light-gray: #d9d9d9;
    --gray: #c8c4c4;
    --dark-gray: #b3abab;
    --transparent-gray: #f5f5f590;

    /* Fonts */
    --font-weight-900: 900;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-300: 300;
}



/* ================== */
/* Specific Variables */
/* ================== */
/*  Colors Variables  */
/* ================== */
:root {
    --box_inputs-input-color2: var(--black);
    --buttons-a-colors: var(--black);
    --buttons-color: var(--black);
    --signUp2-a-color: var(--black);
    --signUp2-a-hover-color2: var(--black);

    --body-color: var(--blue);
    --passwAcc-a-color: var(--blue);
    --signUp-passwAcc-a-color: var(--blue);
    --sumbit_hover-color2: var(--blue);

    --submit-color: var(--dark-gray);

    --boxh-color: var(--light-gray);
    --boxi-color: var(--light-gray);

    --box_inputs-input-color: var(--gray);

    --nav-color: var(--transparent-gray);

    --signUp2-a-color2: var(--white);
    --signUp2-a-hover-color: var(--white);
    --sumbit_hover-color: var(--white);
}



/* ================= */
/*  Texts Variables  */
/* ================= */
:root {
    --font-weight-900: 900;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-300: 300;

    --text-align-left: left;
    --text-align-center: center;
    --text-align-right: right;

    --cursor-pointer: pointer;
    --cursor-text: text;

    --boxi-h2-size: 3rem;
    --brand-h1-size: 1.5rem;
    --home-h2-size: 1.5rem;
    --home-h3-size: 1rem;
    --submit-size: 1.5rem;
}



/* ================= */
/*  Width Variables  */
/* ================= */
:root {
    --boxh-width: 90%;
    --boxi-hr-width: 50%;
    --boxi-width: 80%;
    --box_inputs-input-width: 100%;
    --box_inputs-width: 90%;
    --brand-width: 20%;
    --buttons_width: 80%;
    --form-width: 100%;
    --home-width: 100%;
    --nav-width: 100%;
    --signUp2-width: 70%;
    --submit-login-width: 70%;
}



/* ================== */
/*  Height Variables  */
/* ================== */
:root {
    --boxh-height: 40%;
    --boxi-height: 50%;
    --box_inputs-height: 30%;
    --box_inputs-input-height: 40%;
    --brand-height: 80%;
    --buttons-height: 80%;
    --form-height: 100%;
    --home-height: 80%;
    --nav-height: 10%;
    --signUp2-height: 20%;
    --submit-login-height: 15%;
}



/* =================== */
/*  Borders Variables  */
/* =================== */
:root {
    --boxi-border: none;
    --boxh-border: none;

    --signUp2-a-border: 1px solid var(--black);
    --signUp2-a-hover-border: 1px solid var(--white);
    --submit-border: 1px solid var(--gray);

    --radius-8: 8px;
    --radius-12: 12px;
}



/* =================== */
/*  Margins Variables  */
/* =================== */
:root {
    --boxi-hr-margin: 10%;
    --home-h2-margin: 10%;
    --passwAcc-margin: 5% 0;
}



/* ==================== */
/*  Paddings Variables  */
/* ==================== */
:root {
    --boxh-padding: 5%;
    --boxi-padding: 10%;
    --brand-left-padding: 2%;
    --buttons-padding: 2%;
    --buttons-a-padding: 1%;
    --signUp2-a-padding: 3%;
}



/* ================ */
/*  Gaps Variables  */
/* ================ */
:root {
    --box_inputs-gap: 10%;
    --buttons-gap: 5%;
}



/* ==================== */
/*  Position Variables  */
/* ==================== */
:root {
    --boxh-position: relative;
    --signUp2-position: absolute;
    --signUp2-right: 5%;
    --signUp2-bottom: 2%;
}



/* ================== */
/*  Others Variables  */
/* ================== */
:root {
        --buttons-a-scale: scale(1.1);
        --boxi-box-shadow: 5px 5px 20px #000;
        --passwAcc-columns: 1fr 2fr;
}