:root {
    /* Colors */
        --black: #000;
        --body-color: #3D91F4;
        --boxc-color: #D9D9D9;
        --input-color: #C8C4C4;
        --input-placeholder-color: #9B8D8D;
        --passwAcc-color: #9B8D8D;
        --passwAcc-hover-color: #000;
        --submit-border-color: #9B8D8D;
        --submit-hover-color: #C8C4C4;
        --nav-color: #f5f5f590;
        --signIn-color: #000;
        --signIn-border-color: #000;
        --signUp-color: #000;
        --signUp-text-color: #fff;
        --signUp-border-color: #000;
        --signUp-hover-color: #fff;
        --signUp-hover-text-color: #000;
        --signUp-hover-border-color: #fff;
        --boxi-color: #D9D9D9;
        --box_home-color: #f5f5f590;
        --signUp2-color: #000;
        --signUp2-text-color: #fff;
        --signUp2-border-color: #000;
        --signUp2-hover-color: #fff;
        --signUp2-hover-text-color: #000;
        --signUp2-hover-border-color: #fff;

    /* Fonts */
        --font-weigth-bold: bold;
        --font-weigth-900: 900;
        --font-weigth-600: 600;
        --font-weigth-300: 300;

    /* Sizes */
        --connexion-title1: 4rem;
        --connexion-title2: 3rem;
        --connexion-title3: 2rem;
        --connexion-a: 0.5rem;
        --submit-size: 1rem;
        --inscription-title1: 4rem;
        --inscription-title2: 3rem;
        --inscription-title3: 2rem;
        --home-title1: 1.5rem;
        --home-title2: 1rem;
        --home-title3: 0.8rem;

    /* Width */
        --boxc-width: 60%;
        --hr-width: 40%;
        --input-width: 90%;
        --submit-width: 90%;
        --boxi-width: 60%;
        --box_home-width: 70%;
        --signUp2-width: 50%;
        --brand-width: 20%;
        --buttons_width: 80%;
        --nav-width: 100%;

    /* Height */
        --boxc-height: 50%;
        --boxi-height: 40%;
        --box_home-height: 30%;
        --signUp2-height: 20%;
        --brand-height: 80%;
        --buttons-height: 80%;
        --nav-height: 10%;

    /* Border */
        --radius: 8px;
        --input-border: 1px solid var(--input-color);
        --input-focus-border: 1px solid var(--input-placeholder-color);
        --submit-border: 1px solid var(--submit-border-color);
        --input-border: 1px solid #C8C4C4;
        --submit-border: 1px solid #9B8D8D;
        --signIn-border: 1px solid transparent;

    /* Paddings */
        --boxc-padding: 10%;
        --input-padding: 5%;
        --boxi-padding: 10%;
        --input-padding: 5%;
        --submit-padding: 5%;
        --brand-padding: 2%;
        --buttons-padding: 2%;
        --box_home-padding: 5%;
        --signUp2-padding: 5%;

    /* Margins */
        --passwAcc-margin: 5% 0;
        --hr-margin: 10% 0;
        --input-margin: 4% 0;
        --connect-margin: 10% 0;

    /* Gaps */
        --buttons-gap: 5%;
}